/* TimerPage.css */

.appBar.MuiAppBar-root {
  background: linear-gradient(to right, #d4eefc, #01013e);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.timeTrackHeading {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: lowercase;
  font-variant: small-caps;
}

.pendingActionsIcon {
  color: white;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.LogoutButton {
  background-color: #87CEFA !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 0.125rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.LogoutButton:hover {
  background-color: #5EB8FF !important;
}

.BackButton {
  background-color: #87CEFA !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 0.125rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.BackButton:hover {
  background-color: #5EB8FF !important;
}

.timer-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14%;
  height: 100%;
  overflow: hidden; /* Prevent double scroll */
  box-sizing: border-box;
  background-image: linear-gradient(white, #d4eefc);
  border: 0.125rem solid #01013e !important;
}

.content-container {
  max-width: 90%;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startButton {
  background-color: #6cff56 !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 0.125rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #98ff88 !important;
}
.saveButton {
  background-color: #e76bfa !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: 0.125rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #ff9ef9 !important;
}
.task-name {
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #01013e;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-description {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  color: #01013e;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-display {
  border: 0.25rem solid #01013e;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-text {
  font-family: "Arial", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #01013e;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .timer-text {
    font-size: 2rem;
  }
  .startButton, .saveButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
