body {
  background: linear-gradient(white, #d4eefc);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.appBar.MuiAppBar-root {
  background: linear-gradient(to right, #d4eefc, #01013e);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.timeTrackHeading {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: lowercase;
  font-variant: small-caps;
  display: flex;
  align-items: center;
}

.pendingActionsIcon {
  color: white;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.logIn-Button {
  background-color: #87cefa !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 0.625rem 1.25rem;
  font-size: 2.1rem;
  border: 0.125rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #5eb8ff !important;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: linear-gradient(white, #d4eefc);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  padding: 2.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 0.625rem;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-content .MuiTypography-root {
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}

@media (max-width: 50rem) {
  #welcome-modal-title {
    font-size: 2rem;
  }

  #welcome-modal-title-2 {
    font-size: 1.5rem !important;
  }
}
