.appBar.MuiAppBar-root {
  background: linear-gradient(to right, #d4eefc, #01013e);
}

.timeTrackHeading {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 2rem;
  font-weight: italic;
  text-transform: lowercase;
  font-variant: small-caps;
  display: flex;
  align-items: center;
}

.pendingActionsIcon {
  color: white;
  font-size: 2rem;
  margin-right: 8px;
}

.customButton {
  background-color: #87CEFA !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 10px 20px; /* Slightly larger padding */
  font-size: 1.5rem; /* Slightly larger font size */
  border: 3px solid #01013e !important;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #37a8ff !important; /* Slightly darker light blue for hover */
}


.centerButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100%;
  left: 45%;
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiFormControl-root {
  margin-bottom: 20px;
  width: 100%;
}

.MuiFormControl-root:not(:last-child) {
  margin-bottom: 20px;
}
