html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.appBar.MuiAppBar-root {
  background: linear-gradient(to right, #d4eefc, #01013e);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.timeTrackHeading {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: lowercase;
  font-variant: small-caps;
  display: flex;
  align-items: center;
}

.pendingActionsIcon {
  color: white;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.logOut-button {
  background-color: #87cefa !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 0.625rem 1.25rem;
  font-size: 1.1rem;
  border: 0.1rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.logOut-button:hover {
  background-color: #37a8ff !important;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: linear-gradient(white, #d4eefc);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
  overflow-y: auto;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  color: #01013e;
  background-color: #f5f5f5;
  padding: 1rem;
  width: 90%;
  border: 0.1rem solid #01013e;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.create-project-button {
  margin-right: 0.5rem;
  background-color: #87cefa !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 0.625rem 1.25rem;
  font-size: 1.1rem;
  border: 0.12rem solid #01013e !important;
  transition: background-color 0.3s ease;
}

.create-project-button:hover {
  background-color: #5eb8ff !important;
}

.accordion {
  width: 90%;
  margin: 0.5rem 0;
  border: 0.1rem solid #01013e;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
}

.accordion-summary,
.accordion-details {
  border-radius: inherit;
}

.task-card {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: #f5f5f5;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #01013e;
  width: 100%;
  box-sizing: border-box;
  color: #01013e;
}

.task-card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #01013e;
}

.task-card-description {
  margin-bottom: 0.5rem;
  color: #01013e;
}

.task-card-footer {
  display: flex;
  justify-content: space-between;
  color: #01013e;
}

.create-task-button {
  margin-right: 0.5rem;
  background-color: #87cefa !important;
  color: #01013e !important;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 0.625rem 1.25rem;
  font-size: 1.1rem;
  border: 0.1rem solid #01013e !important;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.create-task-button:hover {
  background-color: #5eb8ff !important;
}

.accordion-summary .MuiTypography-root,
.accordion-details .MuiTypography-root,
.header-container .MuiTypography-root,
.content-wrapper .MuiTypography-root {
  color: #01013e !important;
}

@media (max-width: 50rem) {
  .logOut-button {
    padding: 0.5rem !important;
    font-size: 0.6rem !important;
    height: 3rem;
  }
}
